@import url("https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/black.min.css") not print;
@import url("https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/white.min.css") print;

/* Title slide */
/* =========== */

@media not print {
    .reveal{
        background:
            linear-gradient(
              rgba(0, 0, 0, 0.5), 
              rgba(0, 0, 0, 0.5)
            ),
            url("../media/black-board.jpg");
        background-size: cover;
    }
    .reveal .title-slide h1{
        color:white;
    }
}

.reveal .title-slide h1{
    font-size:150px;
    line-height: 1.5 !important;
}

/* Lists */
/* ===== */

.reveal ul,
.reveal ol {
    padding-inline-start: 40px;
}

/* A fix for lists in hebrew */
.reveal ol,
.reveal dl,
.reveal ul {
    text-align: inherit;
}

/* Headers */
/* ======= */

.reveal h2 {
    font-size: 1.3em !important;
}

.reveal h4 {
    color: #678ece !important;
}

/* Images */
/* ====== */

.reveal .main-content section img {
    border:none !important;
    box-shadow:none !important;
    background-color :rgba(255, 255, 255, 0.7) !important;
    margin-left: auto;
    margin-right: auto
}

/* .slide-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color :rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.7)
}
.slide-image img{
    display: block;
    margin-left: auto;
    margin-right: auto
} */

/* Increase font in tables */
/* ======================= */

.reveal .main-content table {
    font-size:16px !important;
}

/* Code Block */
/* ========== */

.reveal .main-content pre code {
    max-height: 700px !important;
}