/* Title slide */
/* =========== */

.dark-theme.reveal{
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5), 
            rgba(0, 0, 0, 0.5)
        ),
        url("../media/black-board.jpg");
    background-size: cover;
}
.dark-theme.reveal .title-slide h1{
    color:white;
}

.white-theme.reveal .title-slide h1{
    color:black !important;
} */

.reveal .title-slide h1{
    font-size:150px;
    line-height: 1.5 !important;
}

/* Lists */
/* ===== */

.reveal ul,
.reveal ol {
    padding-inline-start: 40px;
}

/* A fix for lists in hebrew */
.reveal ol,
.reveal dl,
.reveal ul {
    text-align: inherit;
}

/* Headers */
/* ======= */

.reveal h2 {
    font-size: 1.3em !important;
}

.reveal h4 {
    color: #678ece !important;
}

/* Images */
/* ====== */

.reveal .main-content section img {
    border:none !important;
    box-shadow:none !important;
    background-color:  transparent;
    margin-left: auto;
    margin-right: auto
}

.reveal .main-content section img:not(.no-background) {
    background-color :rgba(255, 255, 255, 0.7) !important;
}

/* .slide-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color :rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.7)
}
.slide-image img{
    display: block;
    margin-left: auto;
    margin-right: auto
} */

/* Increase font in tables */
/* ======================= */

.reveal .main-content table {
    font-size:16px;
}

/* Code Block */
/* ========== */

.reveal .main-content pre code {
    max-height: 700px !important;
}


/* Fragments */
/* ========= */

.reveal .frag.replace,
.reveal .frag.add {
  display: none;
}
.reveal .frag.replace.active-frag,
.reveal .frag.add.active-frag {
  display: initial;
}
.reveal .frag.add.prev-frag {
  display: initial;
}

.reveal .frag.highlight {
  border: initial;
  border-radius: initial;
  background-color: initial;
}
.reveal .frag.highlight.active-frag {
  border-radius:10px;
  background-color:#7b1c1c;
}