---
layout: "default"
---
<section class="jumbotron jumbotron-fluid text-center bg-primary text-light course-title">
  <h1 class="display-2">Welcome to course {{ site.data.general.course_number }}</h1>
  <h1 class="display-4">{{ site.data.general.course_title }}</h1>
</section>

<section class="px-2">
  <div class="container" dir="auto" style="text-align: initial">
    <div class="row">
      <div class="col mx-auto">
        <h3>תרגולים</h3>
        {% assign tutorials_he = "" | split: "," %}
        {% for cur_page in site.tutorials %}{% if cur_page.type == "תרגול" %}{% unless cur_page.slides %}{% unless cur_page.ignore %}
          {% assign tutorials_he = tutorials_he | push: cur_page %}
        {% endunless %}{% endunless %}{% endif %}{% endfor %}
        {% assign tutorials_he = tutorials_he | sort: "number" %}
        <ul>
          {% for cur_page in tutorials_he %}
          <li {% if cur_page.hide %}class="hide"{% endif %}><h4>
            <a class="int-nav-link" href="{{ site.baseurl }}{{ cur_page.url }}">{{ cur_page.type | capitalize }} {{ cur_page.number }} - {{ cur_page.title }}</a>
          </h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="px-2">
  <div class="container">
    <div class="row">
      <div class="col mx-auto">
        <h3>Tutorials</h3>
        {% assign tutorials = "" | split: "," %}
        {% for cur_page in site.tutorials %}{% if cur_page.type == "tutorial" %}{% unless cur_page.slides %}{% unless cur_page.ignore %}
          {% assign tutorials = tutorials | push: cur_page %}
        {% endunless %}{% endunless %}{% endif %}{% endfor %}
        {% assign tutorials = tutorials | sort: "number" %}
        <ul>
          {% for cur_page in tutorials %}
          <li {% if cur_page.hide %}class="hide"{% endif %}><h4>
            <a class="int-nav-link" href="{{ site.baseurl }}{{ cur_page.url }}">{{ cur_page.type | capitalize }} {{ cur_page.number }} - {{ cur_page.title }}</a>
          </h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="px-2 hide">
  <div class="container">
    <div class="row">
      <div class="col mx-auto">
        <h3>Workshops</h3>
        {% assign workshops = "" | split: "," %}
        {% for cur_page in site.workshops %}{% if cur_page.type == "workshop" %}{% unless cur_page.ignore %}
          {% assign workshops = workshops | push: cur_page %}
        {% endunless %}{% endif %}{% endfor %}
        {% assign workshops = workshops | sort: "number" %}
        <ul>
          {% for cur_page in workshops %}
          <li><h4>
            <a class="int-nav-link" href="{{ site.baseurl }}{{ cur_page.url }}">{{ cur_page.type | capitalize }} {{ cur_page.number }} - {{ cur_page.title }}</a>
          </h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="px-2 hide">
  <div class="container">
    <div class="row">
      <div class="col mx-auto">
        <h3>Hands-on Assignments</h3>
        <ul>
          {% for assignment in site.data.general.assignments %}
          <li {% unless assignment.hide %}class="hide"{% endunless %}><h4>
            <a  href="https://colab.research.google.com/github/{{ site.data.general.github_user }}/{{ site.data.general.github_repo }}/blob/master/{{ assignment.file }}" target="_blank">{{ assignment.name }}</a>
          </h4></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="px-2 hide">
  <div class="container">
    <div class="row">
      <div class="col mx-auto">
        <h3>Widgets</h3>
        <ul>
        {% assign widgets = site.widgets %}
        {% for cur_page in items %}{% unless cur_page.ignore %}
          <li><h4>
            <a href="{{ site.baseurl }}{{ cur_page.url }}">{{ cur_page.title }}</a>
          </h4></li>
        {% endunless %}{% endfor %}
        </ul>

      </div>
    </div>
  </div>
</section>

<section class="px-2 hide">
  <div class="container">
    <div class="row">
      <div class="col mx-auto">
        <h3>Other</h3>
        <ul>
          <li><h4><a class="int-nav-link" href="{{ site.baseurl }}/static/cheat_sheet.html">Cheat Sheet</a></h4></li>
        </ul>

      </div>
    </div>
  </div>
</section>