---
layout: "default"
---
<section class="jumbotron jumbotron-fluid text-center bg-primary text-light">
  <h1 class="display-2">Welcome to course {{ site.data.general.course_number }}</h1>
  <h1 class="display-4">{{ site.data.general.course_title }}</h1>
</section>

<section class="px-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Tutorials</h2>
        <ul>
        {% assign items = site.tutorials | sort: 'number' %}
        {% for item in items %}
          <li {% if item.hide %}class="hide"{% endif %}><h3>
            <a class="int-nav-link" href="{{ site.baseurl }}{{ item.url }}"><h3>{{ item.type | capitalize }} {{ item.number }} - {{ item.title }}</a>
          </h3></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="px-2 hide">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Workshops</h2>
        <ul>
        {% assign items = site.workshops | sort: 'number' %}
        {% for item in items %}
          <li><h3>
            <a class="int-nav-link" href="{{ site.baseurl }}{{ item.url }}"><h3>{{ item.type | capitalize }} {{ item.number }} - {{ item.title }}</a>
          </h3></li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="px-2 hide">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Widgets</h2>
        <ul>
        {% assign items = site.widgets %}
        {% for item in items %}
          <li><h3>
            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
          </h3></li>
        {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</section>

<section class="px-2 hide">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Other</h2>
        <ul>
          <li><h3><a class="int-nav-link" href="{{ site.baseurl }}/static/cheat_sheet.html">Cheat Sheet</a></h3></li>
        </ul>

      </div>
    </div>
  </div>
</section>